In [1]:
import pandas as pd

In [5]:
folder_path="C:\\Neel\\python-data\\Sales_Data\\Sales_Data"
file_name="Sales_April_2019.csv"
full_path = f'{folder_path}\\{file_name}'
print(full_path)

C:\Neel\python-data\Sales_Data\Sales_Data\Sales_April_2019.csv

In [6]:
pd.read_csv(full_path)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
18378,194090,Google Phone,1,600,04/08/19 17:11,"177 Jackson St, Los Angeles, CA 90001"
18379,194091,AA Batteries (4-pack),1,3.84,04/15/19 16:02,"311 Forest St, Austin, TX 73301"
18380,194092,AAA Batteries (4-pack),2,2.99,04/28/19 14:36,"347 Sunset St, San Francisco, CA 94016"
18381,194093,AA Batteries (4-pack),1,3.84,04/14/19 15:09,"835 Lake St, Portland, OR 97035"
18382,194094,Lightning Charging Cable,1,14.95,04/18/19 11:08,"354 North St, Boston, MA 02215"

In [7]:
import os
os.listdir(folder_path)

['Sales_April_2019.csv',
 'Sales_August_2019.csv',
 'Sales_December_2019.csv',
 'Sales_February_2019.csv',
 'Sales_January_2019.csv',
 'Sales_July_2019.csv',
 'Sales_June_2019.csv',
 'Sales_March_2019.csv',
 'Sales_May_2019.csv',
 'Sales_November_2019.csv',
 'Sales_October_2019.csv',
 'Sales_September_2019.csv']

In [17]:
for i in os.listdir(folder_path):
    full_file_path=f'{folder_path}\\{i}'
    # pd_name=i.split("_")[1]
    df=pd.read_csv(full_file_path)
    print(df.shape)

(18383, 6)
(12011, 6)
(25117, 6)
(12036, 6)
(9723, 6)
(14371, 6)
(13622, 6)
(15226, 6)
(16635, 6)
(17661, 6)
(20379, 6)
(11686, 6)

In [21]:
final_df = pd.DataFrame()
for i in os.listdir(folder_path):
    full_file_path=f'{folder_path}\\{i}'
    # pd_name=i.split("_")[1]
    df=pd.read_csv(full_file_path)
    final_df = pd.concat([final_df,df])
    print(f'shape of final_df after concatination is {final_df.shape}')

shape of final_df after concatination is (18383, 6)
shape of final_df after concatination is (30394, 6)
shape of final_df after concatination is (55511, 6)
shape of final_df after concatination is (67547, 6)
shape of final_df after concatination is (77270, 6)
shape of final_df after concatination is (91641, 6)
shape of final_df after concatination is (105263, 6)
shape of final_df after concatination is (120489, 6)
shape of final_df after concatination is (137124, 6)
shape of final_df after concatination is (154785, 6)
shape of final_df after concatination is (175164, 6)
shape of final_df after concatination is (186850, 6)

In [23]:
final_df = pd.DataFrame()
for i in os.listdir(folder_path):
    full_file_path=f'{folder_path}\\{i}'
    # pd_name=i.split("_")[1]
    name_of_df=f'df_{i}'
    name_of_df=pd.read_csv(full_file_path)
    final_df = pd.concat([final_df,name_of_df])
    print(f'shape of final_df after concatination is {final_df.shape}')

shape of final_df after concatination is (18383, 6)
shape of final_df after concatination is (30394, 6)
shape of final_df after concatination is (55511, 6)
shape of final_df after concatination is (67547, 6)
shape of final_df after concatination is (77270, 6)
shape of final_df after concatination is (91641, 6)
shape of final_df after concatination is (105263, 6)
shape of final_df after concatination is (120489, 6)
shape of final_df after concatination is (137124, 6)
shape of final_df after concatination is (154785, 6)
shape of final_df after concatination is (175164, 6)
shape of final_df after concatination is (186850, 6)

In [24]:
final_df = pd.DataFrame()
for i in os.listdir(folder_path):
    full_file_path=f'{folder_path}\\{i}'
    # pd_name=i.split("_")[1]
    name_of_df=pd.read_csv(full_file_path)
    name_of_df["file_name"]=i
    final_df = pd.concat([final_df,name_of_df])
    print(f'shape of final_df after concatination is {final_df.shape}')

shape of final_df after concatination is (18383, 7)
shape of final_df after concatination is (30394, 7)
shape of final_df after concatination is (55511, 7)
shape of final_df after concatination is (67547, 7)
shape of final_df after concatination is (77270, 7)
shape of final_df after concatination is (91641, 7)
shape of final_df after concatination is (105263, 7)
shape of final_df after concatination is (120489, 7)
shape of final_df after concatination is (137124, 7)
shape of final_df after concatination is (154785, 7)
shape of final_df after concatination is (175164, 7)
shape of final_df after concatination is (186850, 7)

In [26]:
final_df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,file_name
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",Sales_April_2019.csv
1,NaN,NaN,NaN,NaN,NaN,NaN,Sales_April_2019.csv
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",Sales_April_2019.csv
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",Sales_April_2019.csv
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",Sales_April_2019.csv

In [34]:
#convert the columns price and quantity ordered into numeric values
#final_df[["Quantity Ordered","Price Each"]].astype(float)
#now null is causing the issue, how to do coalasce null to 0
# Replace NaN with 0 and then convert to float
final_df[["Quantity Ordered", "Price Each"]] = final_df[["Quantity Ordered", "Price Each"]].fillna(0).astype(float)

ValueError: could not convert string to float: 'Quantity Ordered'