In [2]:
import pandas as pd
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Age": [25, 30, 35, 40, 45],
    "City": ["New York", "Los Angeles", "Chicago", "Houston", "Miami"]
}
df = pd.DataFrame(data)

In [3]:
df.iloc[2]

Name    Charlie
Age          35
City    Chicago
Name: 2, dtype: object

In [5]:
df.loc[(df["Age"]>25)]

      Name  Age         City
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
4      Eve   45        Miami

In [6]:
city = pd.Series("City")
city.head(2)

AttributeError: 'DataFrame' object has no attribute 'Series'

In [8]:
type(df["City"])

pandas.core.series.Series

In [10]:
city =df["City"]
print(city)

0       New York
1    Los Angeles
2        Chicago
3        Houston
4          Miami
Name: City, dtype: object

In [14]:
city_list = list(df["City"])
Person_Name = list(df["Name"])
new_series = pd.Series(data=Person_Name, index = city_list)
new_series

New York         Alice
Los Angeles        Bob
Chicago        Charlie
Houston          David
Miami              Eve
dtype: object

In [15]:
print(new_series["Miami"])

Eve

In [ ]:
#we can extract a series from dataframe
#while reading a file, we can create a series just by reading a column or using index_col method as well.
pokemon =