In [5]:
#Find all of the numbers from 1-1000 that have a 3 in them
for i in range(1, 20):
    if '3' in str(i):
        print(i,end=",")

3,13,

In [7]:
#Find all of the numbers from 1-1000 that have a 3 in them, using list expression
number_list= [x for x in range(1,20) if '3' in str(x)]
print(number_list)

[3, 13]

In [8]:
#Find the common numbers in two lists (without using a tuple or set) list_a = 1, 2, 3, 4, list_b = 2, 3, 4, 5
list_1=[1,2,3,4]
list_2 = [2,3,4,5]
common_number_list=[]
for i in list_1:
    if i in list_2:
        common_number_list.append(i)
print(common_number_list)

[2, 3, 4]

In [9]:
#above using list comprehension
common_element=[x for x in list_1 if x in list_2]
print(common_element)

[2, 3, 4]

In [12]:
#Given numbers = range(20), produce a list containing the word ‘even’ if a number in the numbers is even,
#and the word ‘odd’ if the number is odd. Result would look like ‘odd’,’odd’, ‘even’
numbers = list(range(21))
final_list=['even' if i%2==0 else 'odd' for i in numbers]
print(final_list)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [16]:
'''
The prices are stored in a list
              prices = [1.09, 23.56, 57.84, 4.56, 6.78]
              tax_rate = 0.08
              calculate the final price where the final_price is price + price * tax_rate
              
'''
def final_price(price,tax_rate):
    return round(price + (price * tax_rate),2)
    
prices = [1.09, 23.56, 57.84, 4.56, 6.78]
tax_rate = 0.08

final_price_list = [final_price(x,tax_rate) for x in prices]
print(final_price_list)

[1.18, 25.44, 62.47, 4.92, 7.32]

In [17]:
#Using the same logic as above calculate the final_price for only those bills that have a positibe value

prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]
#assuming tax_Rate is same, and function is defined already
tax_rate = 0.08

final_price_list = [final_price(x,tax_rate) for x in prices if x>0]
print(final_price_list)

[1.35, 11.04, 4.08, 1.25]

In [20]:
# convert the below logic to a list comprehension
'''
mrp = 1200
            quantities = [120, 45, 60, 88, 101, 44]
            print('Number of quantities', len(quantities))


            for  quantity in quantities: # quantity = 120
    
            # calculte the total_bill by multiplying mrp with quantity
            total_bill = mrp * quantity
            if total_bill > 100000:
                discount = 20
            elif total_bill > 50000:
                discount = 15
            elif total_bill > 25000:
                discount = 10
            else:
                discount = 5
'''
def discount_calculation(total_bill):
    if total_bill > 100000:
        discount = 20
    elif total_bill > 50000:
        discount = 15
    elif total_bill > 25000:
        discount = 10
    else:
        discount = 5
    return discount
              
mrp=1200
quantities = [120, 45, 60, 88, 101, 44]
total_bill=[mrp*quant for quant in quantities]
print(total_bill)
final_discounted_price=[(bill*(100-discount_calculation(bill))/100) for bill in total_bill]
print(final_discounted_price)

[144000, 54000, 72000, 105600, 121200, 52800]
[115200.0, 45900.0, 61200.0, 84480.0, 96960.0, 44880.0]

In [ ]:
#no question on args, kwargs

In [ ]:
#Get a list of prime numbers between 1 and 1000 using list comprehension

In [5]:
#Convert the list of tempreture in Farenheit to list of tempreture in degree celcius
farenheits = [101.1, 83, 93, 103, 11, 91, 34, 57, 99, 56]
celcius =[[temp,round(((temp - 32) * 5/9),3)] for temp in farenheits]
print(celcius)

[[101.1, 38.389], [83, 28.333], [93, 33.889], [103, 39.444], [11, -11.667], [91, 32.778], [34, 1.111], [57, 13.889], [99, 37.222], [56, 13.333]]

In [11]:
def fin_price(price):
    return round(price *2,2)
    
prices = [1.09, 23.56, 57.84, 4.56, 6.78]
tax_rate = 0.08
final_list_1=list(map(fin_price, prices))
print(final_list_1)

[2.18, 47.12, 115.68, 9.12, 13.56]

In [12]:
radiuss=[(10,30),(20,40),(30,50)]
def volume_of_cylinder(*args):
    radius,height=args[0]
    return 22/7 * radius **2 * height
list(map(volume_of_cylinder,radiuss))

[9428.571428571428, 50285.71428571428, 141428.57142857142]

In [15]:
#area of circle for those numbers where number is divisible by 3 or 5
nums=[10,20,30,40,50,60,62]
#list(filter(lambda r: r%3==0 or r%5==0,nums))
area =list(map(lambda r: 22/7 *r **2, 
                                     filter(lambda r: r%3==0 or r%5==0,nums)))
print(area)

[314.2857142857143,
 1257.142857142857,
 2828.5714285714284,
 5028.571428571428,
 7857.142857142857,
 11314.285714285714]

In [ ]:
#how to print (i, j) kind of thing. i.e (radius, area_of_Square)

In [3]:
#dictionary and dictionary comprehension
words=['banana','apple','guava','apple','banana','banana']
#make a dictionary of words and their count.
dict_1={word:words.count(word) for word in set(words)}
print(dict_1)

{'banana': 2, 'apple': 2, 'guava': 1}

In [5]:
#dictionary comprehension for farenhite to celcious and print dictionary
celsius_temps = [0, 20, 37, 100]
converted_temp_dict = {temp:(temp * 9/5 + 32) for temp in celsius_temps}
print(converted_temp_dict)

{0: 32.0, 20: 68.0, 37: 98.6, 100: 212.0}

In [ ]:
#can tuple ever be key of dictionary, if yes what is that real use cases

In [14]:
city=['ranchi','patna']
temp=[30,35]
dict1= list(zip(city,temp))
print(dict1)
dict2={cit:tem for cit, tem in zip(city,temp) }
print(dict2)
print(dict2.items())
print(sorted(dict2.items()))
print(sorted(dict2.items(),key=lambda dict_tuple:dict_tuple[1]))

[('ranchi', 30), ('patna', 35)]
{'ranchi': 30, 'patna': 35}
dict_items([('ranchi', 30), ('patna', 35)])
[('patna', 35), ('ranchi', 30)]
[('ranchi', 30), ('patna', 35)]

In [17]:
#sort this dictionary by their avg marks
student_marks_d = {'Karthik': [78, 95, 69, 69, 85],
 'Priya': [74, 95, 81, 95, 94],
 'Keshav': [85, 75, 71, 68, 77],
 'Arun': [61, 94, 95, 80, 83],
 'Harini': [76, 84, 87, 95, 87],
 'Adithya': [97, 80, 91, 98, 78],
 'HariPrasadh': [86, 73, 92, 70, 76]}
print(student_marks_d)
print(sorted(student_marks_d.items(), key=lambda avg_mark= sum(avg_mark[1])/len(avg_mark[1])))
sorted_students = sorted(student_marks_d.items(),
    key=lambda item: sum(item[1]) / len(item[1])
)

{'Karthik': [78, 95, 69, 69, 85], 'Priya': [74, 95, 81, 95, 94], 'Keshav': [85, 75, 71, 68, 77], 'Arun': [61, 94, 95, 80, 83], 'Harini': [76, 84, 87, 95, 87], 'Adithya': [97, 80, 91, 98, 78], 'HariPrasadh': [86, 73, 92, 70, 76]}
[('Keshav', [85, 75, 71, 68, 77]), ('Karthik', [78, 95, 69, 69, 85]), ('HariPrasadh', [86, 73, 92, 70, 76]), ('Arun', [61, 94, 95, 80, 83]), ('Harini', [76, 84, 87, 95, 87]), ('Priya', [74, 95, 81, 95, 94]), ('Adithya', [97, 80, 91, 98, 78])]

In [18]:
print('hello'+2)

TypeError: can only concatenate str (not "int") to str

In [1]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [2]:
list1_1=[2,2,3,3,3,4,4,5,6]
list1_1.remove(2)
print(list1_1)

[2, 3, 3, 3, 4, 4, 5, 6]

In [6]:
list1_2=[2,2,3,3,3,4,4,5,6]
print([x for x in list1_2 if x != 2])

[3, 3, 3, 4, 4, 5, 6]

In [7]:
import re

In [ ]:
#regular expression
#\d is for digit
#. is for any character
#\s
#\w
#\b stands for word boundary
sentence = 'sdfsafdsfs whitefiled'
pattern=re.compile(r'field\.$')
matches = pattern.finditer(senetence)
for match in matches:
    print match

In [ ]:
pattern = re.compile(r'\d')
pattern.finditer(search_str)
#anchor tags \b $ ^ 
^ starts with
$ ends with

In [ ]:
#[]characterset
#inside a characterset [] meta character like . looses its power
#[.-] then it will be used to find dot & dash characters in a sentences

In [ ]:
#[a-z] characterset of range
re.compile(r'[a-zA-Z]')
re.compile(r'[A-Z]\w\w') #find words which start with capital letter and then there is a charctr like a-z0-9-
re.compile(r'^[a-zA-Z]') #find words which does not starts with a-z or A-Z
    carrot symbol ^ signifies the negation of charcterset
#quantifiers
#+ one or more occurances
#* zero or more occurences
#? 0 or 1 occurance of pattern
#{4} - 4 times occurances of the pattern.

In [1]:
import re

pattern = r'a+'
text = 'aaaaabaaaac'
matches = re.findall(pattern, text)
print(matches)  # Output: ['aaaaa', 'aaa']

['aaaaa', 'aaaa']

In [ ]:
#bubble sort to sort a dictionary and a list

In [ ]:
#scalar login and check details

In [ ]:
import re

In [3]:
import pandas as pd
chips_df = pd.read_table("http://bit.ly/chiporders")
chips_df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [4]:
chips_df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [ ]:
#regular expression assignments - extracting phone number and states

In [3]:
#Match a Word: Write a regex to find the word "hello" in a string.
import re
text = "Say hello to everyone. saying hello is a good etiquite"
pattern = re.compile(r'hello')
matches = pattern.finditer(text)
for match in matches:
    print(match)

<re.Match object; span=(4, 9), match='hello'>
<re.Match object; span=(30, 35), match='hello'>

In [6]:
#Extract Numbers: Write a regex to extract all the numbers from a string.
text1 = "There are 3 cats and 4 dogs."
pattern = re.compile(r'\b\d\b')
#pattern = re.compile(r'\b\d\b')
matches = pattern.finditer(text1)
for match in matches:
    print(match)

<re.Match object; span=(10, 11), match='3'>
<re.Match object; span=(21, 22), match='4'>

In [19]:
#Find Email: Create a regex to identify a simple email format (e.g., user@example.com).
text = "Contact us at user@example.com. secondary email is "
# emails = """
# pythonprogramming@gmail.com
# python-programming-fun@happy-mail.edu
# python123_programming456_fun@happy-mail.edu
# """
pattern=re.compile(r'[a-z0-9_-]+@[a-z-_]+\.[a-z]{3}')
matches = pattern.finditer(text)
#matches = pattern.finditer(emails)
for match in matches:
    print(match)

<re.Match object; span=(14, 30), match='user@example.com'>

In [25]:
#check for Digits: Write a regex to check if a string contains any digits
text = "My password is abc123."
pattern=re.compile(r'\d')
matches = pattern.finditer(text)
#matches = pattern.finditer(emails)
for match in matches:
    print(match)

<re.Match object; span=(18, 19), match='1'>
<re.Match object; span=(19, 20), match='2'>
<re.Match object; span=(20, 21), match='3'>

In [24]:
sentence = "Manoj is a good Python developer. Manoj is very good at track and field events. Manoj stays in Whitefield."
#pattern = re.compile(r'field')
pattern = re.compile(r'field\.$')
matches = pattern.finditer(sentence)
for match in matches:
    print(match)

<re.Match object; span=(100, 106), match='field.'>

In [34]:
#Whitespace Removal: Write a regex to remove all leading and trailing whitespace from a string.
text = "   Hello, World!   "
text1 = text.strip()
text2= text1.lstrip()
print(text1, end="---")
print("\n",text2, end="--")

Hello, World!---
 Hello, World!--

In [38]:
#Match a Date: Create a regex to match dates in the format DD/MM/YYYY.
text_d = "The event is on 15/04/2023."
pattern = re.compile(r'\d{2}/\d{2}/\d{4}')
matches = pattern.finditer(text_d)
for match in matches:
    print(match)

<re.Match object; span=(16, 26), match='15/04/2023'>

In [39]:
#find Words: Write a regex to find all words that start with "a".
text_s = "Apples and oranges are available."
pattern = re.compile(r'^[a-zA-Z]+')
matches = pattern.finditer(text_s)
for match in matches:
    print(match)

<re.Match object; span=(0, 6), match='Apples'>

In [43]:
#Extract Words: Write a regex to extract all words from a sentence.
text_w = "This is a sample sentence."
#pattern = re.compile(r'[a-zA-z]+') #this one also works
#pattern = re.compile(r'\b[a-zA-z]+\b') #this one also works
pattern = re.compile(r'\w+')  #this one also works
matches = pattern.finditer(text_w)
for match in matches:
    print(match)

<re.Match object; span=(0, 4), match='This'>
<re.Match object; span=(5, 7), match='is'>
<re.Match object; span=(8, 9), match='a'>
<re.Match object; span=(10, 16), match='sample'>
<re.Match object; span=(17, 25), match='sentence'>

In [56]:
#Find All Vowels: Write a regex to find all vowels in a string (case-insensitive).
text = "Hello World OWL is thErE!"
#pattern = re.compile(r'\w')  #this one also works
pattern = re.compile(r'[a-zA-Z]')  #this one also works
matches = pattern.finditer(text)
for match in matches:
    # start_pos, end_pos = match.span()
    # vowel = text[start_pos:end_pos]
    vowel = text[match.span()[0]:match.span()[1]]
    #if vowel in ['a','e','i','o','u','A','E','I','O','U']:
    if vowel.lower() in 'aeiou':
        print(vowel)

e
o
o
O
i
E
E

In [48]:
#same above question, 
import re
pattern = r'[aeiou]'
text = "Hello World!"
vowels = re.findall(pattern, text, re.IGNORECASE)
print("Vowels found:", vowels)

Vowels found: ['e', 'o', 'o']

In [66]:
#Extract Dates in Various Formats: Write a regex to extract dates in formats like DD/MM/YYYY, MM-DD-YYYY, or YYYY.MM.DD.
text_date = "Dates: 12/10/2021, 10-11-2022, and 2023.10.15."
pattern=re.compile(r'\d{2,4}[\.\/-]\d{1,2}[\.\/-]\d{1,4}')
matches = pattern.finditer(text_date)
for match in matches:
    print(match)

<re.Match object; span=(7, 17), match='12/10/2021'>
<re.Match object; span=(19, 29), match='10-11-2022'>
<re.Match object; span=(35, 45), match='2023.10.15'>

In [71]:
#write a function that Merge two lists and sort them in ascending order.
list_1=[1,2,3]
list_2=[4,5,99,6]
list_1.extend(list_2)
print(sorted(list_1))

[1, 2, 3, 4, 5, 6, 99]

In [81]:
#Extract Prices: Write a regex to extract prices from a string, formatted as $XX.XX or XX.XX.
text_mon = "The price is $45.99."
pattern = re.compile(r'\$\d{2}\.\d{2}')
matches = pattern.finditer(text_mon)
for match in matches:
    print(match)

<re.Match object; span=(13, 19), match='$45.99'>

In [3]:
#sort a dictionary based on value take a student & their marks dictionary
dictionary_1 = {'student1': 45, 'student2': 75, 'student3': 65, 'student4': 85}
print(sorted(dictionary_1.items())) #this will sort on their key
print(sorted(dictionary_1.items(),key= lambda stud: stud[1]) )

[('student1', 45), ('student2', 75), ('student3', 65), ('student4', 85)]
[('student1', 45), ('student3', 65), ('student2', 75), ('student4', 85)]

In [9]:
#you can use bubble sort to sort it without using sorted function
dictionary_1 = {'student1': 45, 'student2': 75, 'student3': 65, 'student4': 85}
print(dictionary_1.items())
print(list(dictionary_1.items()))

for student,mark in dictionary_1.items():
    print(mark)

dict_items([('student1', 45), ('student2', 75), ('student3', 65), ('student4', 85)])
[('student1', 45), ('student2', 75), ('student3', 65), ('student4', 85)]
45
75
65
85

In [8]:
#First bubble sort a list then we will try dictionary
list11=[22,64,35,11,13,90]
n = len(list11)
for i in range(n-1):
    for j in range(0,n-i-1):
        if list11[j]>list11[j+1]:
            list11[j],list11[j+1] = list11[j+1],list11[j]
print(list11)

[11, 13, 22, 35, 64, 90]

In [10]:
#Now lets sort dictionary by doing bubble sort i.e sort it without using sorted function
dictionary_1 = {'student1': 45, 'student2': 75, 'student3': 65, 'student4': 85}
print(dictionary_1.items())
n = len(dictionary_1.items())
items= list(dictionary_1.items())
for i in range(n):
    for j in range(0,n-i-1):    #this range of n-i-1 is specifically done to do efficient comparison, actually we could have gone from (0,n) as well,
        #but in every one iteration biggest item gets sorted automatically to the end of the list. with i=0 we go till n-0-1, but with i=1, we only go till
        #n-1-1, i.e we compare only from 0 to n-2 i.e one element less and next time i=2, again only n-3 bcoz last element is getting sorted at right place
        #automatically
        if items[j][1]> items[j+1][1]:
            items[j],items[j+1]=items[j+1],items[j]
print(items)

dict_items([('student1', 45), ('student2', 75), ('student3', 65), ('student4', 85)])
[('student1', 45), ('student3', 65), ('student2', 75), ('student4', 85)]

In [24]:
import re
emails = """
pythonprogramming@gmail.com
python-programming-fun@happy-mail.edu
python123_programming456_fun@happy-mail.edu
"""
pattern = re.compile(r'[a-z0-9-_]+@[a-z-]+\.[a-z]{3}') #order of - or _ does not matter in this case.
matches = pattern.finditer(emails)
for match in matches:
    print(match)

<re.Match object; span=(1, 28), match='pythonprogramming@gmail.com'>
<re.Match object; span=(29, 66), match='python-programming-fun@happy-mail.edu'>
<re.Match object; span=(67, 110), match='python123_programming456_fun@happy-mail.edu'>

In [3]:
import re
with open('C:\\Neel\\sample_data.txt','r') as f:
    content = f.read()
print(content)

AttributeError: 'str' object has no attribute 'head'

In [31]:
import re
with open('C:\\Neel\\sample_data.txt','r') as f:
    content = f.read()
# print(content)
pattern = re.compile(r'[a-zA-Z]+@[a-z]+\.[a-z]{3}')
matches = pattern.finditer(content)
email_list=[]
for match in matches:
    #print(match.group(0))
    email_list.append(match)
print(len(email_list))

12241

In [7]:
import re
filepath="C:\\Neel\\sample_data.txt"
with open(filepath,'r') as f:
    content = f.read()
# print(content)
pattern = re.compile(r'[a-zA-Z]+@[a-z]+\.[a-z]{3}')
matches = pattern.finditer(content)
email_list=[]
for match in matches:
    #print(match.group(0))
    email_list.append(match)
print(len(email_list))

st_codes = []
z_codes = []
pattern1=re.compile(r'\s[A-Z]{2}\s\d{5}\s')
matches1 = pattern1.finditer(content)
for match in matches1:
    state_code,zip_code=match.group(0).strip().split()
    st_codes.append(state_code)
    z_codes.append(zip_code)
print(len(st_codes))
print(len(z_codes))

12241
12241
12241

#This (below code) is why I have challange

In [10]:
#extract first name and last name and concotenate them and match them with email
import re
filepath="C:\\Neel\\sample_data.txt"
with open(filepath,'r') as f:
    content = f.read()

name_email=[]
valid_name_email=[]
email_count=[]

pattern_n=re.compile(r'\b[A-Z][a-z]+\s[A-Z][a-z]+\s')
pattern_e = re.compile(r'[a-zA-Z]+@[a-z]+\.[a-z]{3}')
matches_n = pattern_n.finditer(content)
matches_e =pattern_e.finditer(content)
for match_n,match_email in zip(matches_n,matches_e):
    f_name,l_name=(match_n.group(0).strip().split())
    email=(match_email.group(0).strip())
    name_email.append((f_name,l_name,email))
    # print(match_n.group().strip())
    # print(match_email.group().strip())
    if(f_name.lower()+l_name.lower()== email.split('@')[0]):
        valid_name_email.append((f_name,l_name,email))
print(len(name_email))
print(len(valid_name_email))

content
pattern = re.compile(r'[a-zA-Z]+@[a-z]+\.[a-z]{3}')
matches = pattern.finditer(content)
email_list=[]
for match in matches:
    #print(match.group(0))
    email_list.append(match)
print(len(email_list))
for match in matches_e:
      email_count.append(match.group(0))
print(len(email_count))

9793
1471
12241
2448